# Current editing files
.*sw[opn]

# Vundle pluing installation
.vim/bundle/*

# Eclim installation
.vim/eclim
.vim/plugin/eclim.vim

# Transmission work
torrents
resume
stats.json
*.dat
.config/transmission/settings.json

# Metadata files not interested to track
*netrwhist*
