snippet h
	/**
	 * Copyright `system("date +%Y")` (C) - Movile
	 *
	 * Project: ${1}
	 * Content: ${2:`Filename("", "untitled")`}
	 * Description: ${3:TODO Description if available.}
	 */
	
	${4:// TODO code here}

	// vim:ft=javascript ts=2 ss=2 tw=80 cc=+1: 

